@font-face {
  font-family: 'iconfont';
  /* project id 2040817 */
  src: url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.eot');
  src: url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.woff') format('woff'),
    url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_2040817_yi5tbegpt6f.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mingxi1:before {
  content: "\e6a8";
}

.icon-guanggao:before {
  content: "\e674";
}

.icon-huiyuanzhongxin:before {
  content: "\e64e";
}

.icon-yaoqing1:before {
  content: "\e611";
}

.icon-lianxikefu:before {
  content: "\e667";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-jiantou:before {
  content: "\e633";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-yaoqing:before {
  content: "\e71f";
}

.icon-wode:before {
  content: "\e613";
}

.icon-gonggao:before {
  content: "\e63d";
}

.icon-shouye1:before {
  content: "\e652";
}