@font-face {
  font-family: 'iconfont';
  /* project id 2040817 */
  src: url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.eot');
  src: url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.woff') format('woff'),
    url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2040817_xz0e8xsk3qr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e637";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-jiantou:before {
  content: "\e633";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-yaoqing:before {
  content: "\e71f";
}

.icon-wode:before {
  content: "\e613";
}

.icon-gonggao:before {
  content: "\e63d";
}

.icon-shouye1:before {
  content: "\e652";
}