@font-face {
  font-family: 'iconfont';  /* project id 2040817 */
  src: url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.eot');
  src: url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.woff') format('woff'),
  url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2040817_kcfp1kp2koq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-yaoqing:before {
  content: "\e71f";
}

.icon-wode:before {
  content: "\e613";
}

.icon-gonggao:before {
  content: "\e63d";
}

.icon-shouye1:before {
  content: "\e652";
}

.icon-jiantou:before {
  content: "\e633";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

